Remainders_for_appointment_n8n.json
{
  "name": "Renainders to Appointment",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        -48
      ],
      "id": "d393c481-1a4f-4752-90c5-15558f86aac6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "meetings",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "completed",
              "condition": "eq",
              "keyValue": "FALSE"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -176,
        -48
      ],
      "id": "5f101781-94d4-407e-b622-7df8f14fae3a",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "A0TQ7bdZDt5Lze7o",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ================================\n// Get today's and tomorrow's date in IST\n// ================================\n\nconst now = new Date();\n\nconst todayStr = now.toLocaleDateString('en-CA', {\n  timeZone: 'Asia/Kolkata'\n});\n\nconst tomorrow = new Date(now);\ntomorrow.setDate(tomorrow.getDate() + 1);\n\nconst tomorrowStr = tomorrow.toLocaleDateString('en-CA', {\n  timeZone: 'Asia/Kolkata'\n});\n\nconsole.log(\"Today (IST):\", todayStr);\nconsole.log(\"Tomorrow (IST):\", tomorrowStr);\n\n// ================================\n// Filter meetings\n// ================================\n\nconst output = [];\n\nfor (const item of $input.all()) {\n\n  const meeting = item.json;\n\n  console.log(\"Checking Meeting:\", meeting.id);\n  console.log(\"Meeting Date:\", meeting.meeting_date);\n\n  // Extra safety\n  if (meeting.completed) {\n    continue;\n  }\n\n  // -------------------------\n  // Meeting is TODAY\n  // -------------------------\n  if (\n    meeting.meeting_date === todayStr &&\n    meeting.reminder_today_sent === false\n  ) {\n\n    console.log(\"Matched TODAY\");\n\n    output.push({\n      json: {\n        ...meeting,\n        reminder_type: \"today\"\n      }\n    });\n\n    continue;\n  }\n\n  // -------------------------\n  // Meeting is TOMORROW\n  // -------------------------\n  if (\n    meeting.meeting_date === tomorrowStr &&\n    meeting.reminder_day_before_sent === false\n  ) {\n\n    console.log(\"Matched TOMORROW\");\n\n    output.push({\n      json: {\n        ...meeting,\n        reminder_type: \"day_before\"\n      }\n    });\n  }\n}\n\nconsole.log(\"Meetings to remind:\", output.length);\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -224
      ],
      "id": "28c57765-fce8-44d8-a493-42f1a7a0e32d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Nutrition Consultation Appointment Reminder",
        "message": "=<html>\n<body style=\"font-family: Arial, Helvetica, sans-serif; color: #333; line-height: 1.6;\">\n\n<p>Dear <strong>{{$json.client_name}}</strong>,</p>\n\n<p>We hope you are doing well.</p>\n\n<p>\nThis is a reminder about your upcoming nutrition consultation appointment.\nPlease find the details below:\n</p>\n\n<table style=\"border-collapse: collapse;\">\n  <tr>\n    <td><strong>Doctor</strong></td>\n    <td>: {{$json.doctor_name}}</td>\n  </tr>\n  <tr>\n    <td><strong>Date</strong></td>\n    <td>: {{$json.meeting_date}}</td>\n  </tr>\n  <tr>\n    <td><strong>Time</strong></td>\n    <td>: {{$json.meeting_time}}</td>\n  </tr>\n</table>\n\n<p>\n<strong>Google Meet Link:</strong><br><br>\n<a href=\"{{$json.meet_link}}\" target=\"_blank\"\nstyle=\"background:#2d7ff9;\ncolor:white;\npadding:10px 18px;\ntext-decoration:none;\nborder-radius:6px;\ndisplay:inline-block;\">\nJoin Google Meet\n</a>\n</p>\n\n<p>\nPlease ensure you join the meeting at the scheduled time.\n</p>\n\n<p>\nIf you have any questions, feel free to contact us.\n</p>\n\n<br>\n\n<p>\nBest Regards,<br>\n<strong>NutrifyMyDiet Team</strong>\n</p>\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        160,
        -304
      ],
      "id": "00024420-ef1a-472e-8b74-24d5a5e1c523",
      "name": "Send a message",
      "webhookId": "e0d76c69-5ca5-483d-98db-d061fa83b8a7",
      "credentials": {
        "gmailOAuth2": {
          "id": "sq8fjqlurtfLiuf7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "11354bdd-65be-44b3-b645-d236e3f8d6ca",
              "leftValue": "={{ $('Code in JavaScript').item.json.reminder_type }}",
              "rightValue": "day_before",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        432,
        -224
      ],
      "id": "f48970c1-7ea7-4fcb-b379-af9c2f4acff4",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "meetings",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Code in JavaScript').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "reminder_day_before_sent",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        704,
        -336
      ],
      "id": "744156e0-13ed-49f3-bff0-64afeb416169",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "A0TQ7bdZDt5Lze7o",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "meetings",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Code in JavaScript').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "reminder_today_sent",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        736,
        0
      ],
      "id": "feb0fcbf-e332-45c9-958b-c3ba180019f7",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "A0TQ7bdZDt5Lze7o",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f929ba18-087b-4952-a5a9-6644545f5cb7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6d00308088d1e0f9854752a9b0783fc9c4cd0c5d7ba070a81ff40e96ec7458a8"
  },
  "id": "sWciUM93XZ2DUfNw",
  "tags": []
}